<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Simulación de Propagación de Virus</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="app-container">

    <header class="header">
        <h1> Sistema de Simulación Epidemiológica</h1>
        <p>Monitoreo y análisis del crecimiento de contagios</p>
    </header>

    <main class="dashboard">

        <!-- PANEL IZQUIERDO -->
        <section class="panel control-panel">

            <h2>Parámetros</h2>

            <div class="form-group">
                <label>Infectados iniciales </label>
                <input type="number" id="I0" value="10">
            </div>

            <div class="form-group">
                <label>Tasa de contagio (β)</label>
                <input type="number" step="0.01" id="beta" value="0.2">
            </div>

            <div class="form-group">
                <label>Tiempo (días)</label>
                <input type="number" id="t_max" value="10">
            </div>

            <div class="container" onclick="simular()">
                <a href="#" id="simularBtn" class="button type--C">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text">SIMULAR</span>
                </a>
            </div>

        </section>

        <!-- CENTRO (GRÁFICA) -->
        <section class="panel chart-panel">
            <canvas id="grafica"></canvas>
        </section>

        <!-- DERECHA (DATOS) -->
        <section class="panel info-panel">

            <h2 class="info-title">Datos en tiempo real</h2>

            <div class="info-item">
                <span class="label">⏱ Tiempo</span>
                <span class="value" id="tiempo">-</span>
            </div>

            <div class="info-item">
                <span class="label">📈 Analítica</span>
                <span class="value" id="val_analitica">-</span>
            </div>

            <div class="info-item">
                <span class="label">🔢 Numérica</span>
                <span class="value" id="val_numerica">-</span>
            </div>

        </section>

    </main>

</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span id="closeModal">&times;</span>
        <h2 id="modalTitle"></h2>
        <p id="modalText"></p>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>